<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper">
    {% if settings.social_instagram_link != blank %}
      <div class="footer-instagram">
        <a href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}" target="_blank">
          @theinternetshop
        </a>
      </div>
    {% endif %}

    <div class="footer-copyright">
      <div class="footer-copyright--text">&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: '/' }}</div>

      <div class="footer-copyright--menu">
        <div class="footer-copyright--menu-item">
          <a href="/pages/agb" />Terms & Conditions</a>
        </div>
        <div class="footer-copyright--menu-item">
          <a href="/pages/legal-notice" />Legal Info</a>
        </div>
        <div class="footer-copyright--menu-item">
          <a href="/pages/datenschutz" />Privacy Policy</a>
        </div>
      </div>
    </div>

  </div>
</footer>
